.cource{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.cource p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px;
}
.cources-container{
    display: flex;
    width: 100%;
    /* margin-top: 20px; */
    align-items: center;
    justify-content: space-between;
}
.cources{
    text-align: center;
    background-color: #fff3f3;
    /* padding-top: 10px; */
    margin: 10px;
}
.cource h3{
    text-align: center;
}
.cources:hover{
    box-shadow:  0  0 20px 0px rgba(0,0,0,.2);
}
@media(max-width:700px){
    .cource h1{
        font-size: 20px;
    }
    .cources-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-top: 20px; */
        align-items: center;
        justify-content: space-between;
    }
    .cources{
        text-align: center;
        background-color: #fff3f3;
        width: 90%;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    .cources:hover{
        box-shadow:  0  0 20px 0px rgba(0,0,0,.2);
    }
}
/* ----------- */
.header-sub{
    text-align: center;
    background: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)),url("https://res.cloudinary.com/imagelinks/image/upload/v1645252187/new%20app/background_uvc3ah.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}
.header-sub h1{
    text-align: center;
}
.nav-head{
    color: white;
    margin-top: 50px;
}
.cource-body{
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.main-cource{
    display: flex;
}
.main-cource-col h1{
    text-align: left;
}
.main-cource-col p{
    text-align: left;
    padding-left: 0;
}
.main-cource-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.main-cource-col img{
    width: 100%;
}
.red-btn{
    /* margin-top: 10px; */
    border: 1px solid #f44336;
    color: #f44336;
    background: transparent;
}
.red-btn:hover{
    color: white;
    background-color: #f44336;
}