.campus{
    width: 80%;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
.campus-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 35%;
}
.campus-col img{
    width: 100%;
}
.layer{
    /* background: rgba(226,0,0,.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
.layer:hover{
    background: rgba(226,0,0,.6);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .7s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.campus h1{
    font-size: 36px;
}
.campus p{
    padding: 20px;
}
@media (max-width:700px){
    .campus h1{
        font-size: 20px;
    }
    .campus-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }
    .campus-col{
        width: 100%;
    }
    .campus-col img{
        width: 100%;
    }
}